<p style="color: green"><%= notice %></p>

<h1>Moods</h1>

<div id="moods">
  <% current_user.moods.each do |mood| %>
    <li>
      <%= link_to mood.created_at, mood_path(mood) %>
    </li>
  <% end %>
</div>

<%= link_to "New mood", new_user_mood_path %>
