<p style="color: green"><%= notice %></p>

<h1>Moods</h1>

<div id="moods">
  <% current_user.moods.each do |mood| %>
    <%= render mood %>
    <p>
      <%= link_to "Show this mood", user_moods_path(mood) %>
    </p>
  <% end %>
</div>

<%= link_to "New mood", new_user_mood_path %>
