<h1>Home</h1>
<p>Please sign in to begin!</p>
<% if user_signed_in? %>
<%= link_to 'Go to my Moods', user_moods_path(current_user) %>
<% else %>
<%= link_to 'Register', new_user_registration_path %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>
